<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <mat-card>
        <mat-card-content>
          <h1>Meu Bolão</h1>
          <p>
            Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla
            blaBla bla bla
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
