<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

        <mat-card>
          <mat-card-content>
            <h1>Contas Públicas</h1>
            <p>
              Bem-vindo ao sítio Contas Públicas do Tribunal Regional do
              Trabalho da 13a Região. Nesta página você encontrará informações
              sobre a execução orçamentária e financeira, licitação, contratos e
              compras, entre outras informações referentes às contas públicas.
            </p>

            <p>
              <a href="https://www.trt13.jus.br/contaspublicas/ato.doc"
                >Art. 5º do Ato nº 08/2009 - CSJT.GP.SE:</a
              >
              As informações de que trata este ato não substituem publicações
              prevista em lei nem consulta direta aos sistemas centrais do
              Governo Federal.
            </p>

            <p>
              <a href="https://www.trt13.jus.br/contaspublicas/ato073.pdf"
                >ATO TRT GP 073/2010:</a
              >
              Disciplina a divulgação de dados e informações relativas às contas
              públicas, bem como as atribuições de cada unidade quanto ao
              fornecimento desses dados.
            </p>

            <p>
              Em todas as páginas desse portal, aparecerá a informação acerca da
              data da atualização e da data da verificação dos dados, que têm a
              seguinte semântica:
            </p>
            <ul>
              <li style="text-align: left">
                Dados atualizados: data da última atualização dos dados;
              </li>
              <li style="text-align: left">
                Dados verificados: data da última verificação feita pelo setor
                competente acerca da validade dos dados. Esta data não deve
                ultrapassar 30 dias anteriores a hoje.
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
  
    </div>
  </div>
</div>
