<mat-card>
  <mat-card-content>
    <form [formGroup]="palpiteForm" #formDirective="ngForm" novalidate>
      <table>
        <tbody>
          <tr>
            <td width="150">{{ jogo.data | date: "dd/MM/yyyy HH:mm:ss" }}</td>

            <td width="100" align="right">{{ jogo.pais1?.nome }}</td>
            <td width="50">
              <img
                src="{{ 'assets/imagens/' + jogo.pais1?.id + '.png' }}"
                style="margin-right: 10px"
              />
            </td>
            <td width="50">
              <app-input-number
                [formGroup]="palpiteForm"
                controlName="palpite1"
                [min]="0"
                valorWidth="50"
              ></app-input-number>
            </td>
            <td width="25" style="text-align: center; vertical-align: middle">
              X
            </td>
            <td width="50">
              <app-input-number
                [formGroup]="palpiteForm"
                controlName="palpite2"
                [min]="0"
                valorWidth="50"
              ></app-input-number>
            </td>
            <td width="50">
              <img
                src="{{ 'assets/imagens/' + jogo.pais2?.id + '.png' }}"
                style="margin-left: 10px"
              />
            </td>
            <td width="100">{{ jogo.pais2?.nome }}</td>
            <td>
              <button
                mat-raised-button
                id="cadastro"
                color="primary"
                (click)="onSubmit()"
                [disabled]="!palpiteForm.valid"
              >
                {{ "Cadastrar" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </mat-card-content>
</mat-card>
